/* CSS variables start */
:root{
    --White_color: #FFFFFF;
    --Blue_color: #562EFF;
    --Black_color: #000000;
    --Gray_color: #9F9F9F;
    --Robot_font: 'Roboto', sans-serif;
    --Poppins_font: 'Poppins', sans-serif;
}
/* CSS variables end */

/* Common CSS start */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: #F3F1FF;
}
.container{
    width: 870px;
    margin: 0 auto;
}
.common_heading{
    color: var(--Blue_color);
    font-size: 24px;
    font-weight: 500;
    font-family: var(--Poppins_font);
    margin-bottom: 40px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 30px
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Common CSS end */

/* Top players part start */
#toppandb{
    background: var(--White_color);
}
.top_players{
    padding: 30px;
}
.top_players h2{
    
}
.top_players .players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.top_players .players .player{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.top_players .players .player img{
    width: 56px;
    height: 56px;
}
.top_players .players .player h3{
    margin-left: 16px;
    color: var(--Black_color);
    font-size: 18px;
    font-weight: 500;
    font-family: var(--Poppins_font);
}
/* Top players part end */
/* Top blog part start */
.top_blogs{}
.top_blogs .blogs{}
.top_blogs .blogs .blog{
    display: flex;
}
.blog img{
    width: 177px;
    height: 117px;
}
.top_blogs .blogs .blog{}
.top_blogs .blogs .blog .thaumbnail{
    
}
.top_blogs .blogs .blog .blog_info{}
.top_blogs .blogs .blog .blog_info h3{
    margin-left: 16px;
    color: var(--Black_color);
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--Poppins_font);
}
.top_blogs .blogs .blog .blog_info p{
    margin-left: 16px;
    color: var(--Gray_color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--Poppins_font);
}
.top_blogs .blogs .blog .blog_info p a{
    color: var(--Blue_color);
}
/* Top blog part end */