/* CSS variables part start */
:root{
    --Work_sans_font: 'Work Sans', sans-serif;
    --oswald: 'Oswald', sans-serif;
    --blue_color: #0872b9;
    --green_color: #007F5F;
    --blue_hover_color: #5bc5f4;
    --white_color: #ffffff;
    --gray_white_color: #f1f1f1;
    --all_heading_black_color: black;
    --all_paragraph_black_color: #7D7C7C;
}
/* CSS variables part end */

/* Common CSS start */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul, ol, li{
    list-style: none;
    display: inline-block;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.container{
    width: 940px;
    margin: 0 auto;
}
.common_btn a{
    color: var(--blue_color);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--Work_sans_font);
    background: var(--white_color);
    padding: 20px 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* Common CSS part end */

/* Banner part start */
#banner{
    background: url(../images/banner3.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 216px 0 166px;
}
.banner_info{
    width: 525px;
    text-align: right;
    margin-left: auto;
}
.banner_info h1{
    color: var(--white_color);
    font-size: 65px;
    font-weight: 700;
    font-family: var(--Work_sans_font);
}
.banner_info p{
    color: var(--white_color);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: var(--Work_sans_font);
    padding: 24px 0 32px;
}
.banner_info .banner_btn{}
.banner_info .banner_btn a{}
/* Banner part end */

/* Failure part start */
#failure{
    padding: 130px 0;
}
.failure_items{
    display: flex;
    align-items: center;
    gap: 87px;
}
.failure_items .failure_pic{
    width: 50%;
}
.failure_items .failure_pic img{
    width: 570px;
}
.failure_items .failure_info{
    width: 50%;
}
.failure_items .failure_info h2{
    color: var(--all_heading_black_color);
    font-size: 40px;
    font-weight: 700;
    font-family: var(--Work_sans_font);
    padding-bottom: 24px;
}
.failure_items .failure_info p{
    color: var(--all_paragraph_black_color);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: var(--Work_sans_font);
}
.failure_items .failure_info ul{
    padding-top: 16px;
}
.failure_items .failure_info ul li{
    display: flex;
    gap: 10px;
    align-items: center;
    /* justify-content: center; */
}
.failure_items .failure_info ul li span{}
.failure_items .failure_info ul li span i{
    font-size: 24px;
    color: var(--green_color);
}
.failure_items .failure_info ul li p{
    color: var(--all_paragraph_black_color);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: var(--Work_sans_font);
    padding-bottom: 4px;
}
/* Failure part end */

/* My plans part start */
#myplans{
    padding-bottom: 130px;
}
#myplans h2{
    text-align: center;
    color: var(--all_heading_black_color);
    font-size: 40px;
    font-weight: 600;
    font-family: var(--Work_sans_font);
    padding-bottom: 50px;
}
.myplans_main{
    display: flex;
    gap: 8px;
    /* gap: 85px; */
}
.myplans_main .myplans_items{
    text-align: center;
    /* width: 270px; */
}
.myplans_main .myplans_items.web{
    width: 270px;
}
.myplans_main .myplans_items.js{
    width: 214px;
}
.myplans_main .myplans_items.smoke{
    width: 218px;
}
.myplans_main .myplans_items.ecom{
    width: 214px;
}
.myplans_main .myplans_items .myp_icon{}
.myplans_main .myplans_items .myp_icon igm{
    width: 92px;
}
.myplans_main .myplans_items .myp_text{}
.myplans_main .myplans_items .myp_text h4{
    color: var(--all_heading_black_color);
    font-size: 30px;
    font-weight: 600;
    font-family: var(--Work_sans_font);
    padding: 24px 0 16px;
}
.myplans_main .myplans_items .myp_text p{
    color: var(--all_paragraph_black_color);
    font-size: 25px;
    font-weight: 500;
    font-family: var(--Work_sans_font);
}
/* My plans part end */

/* Watch pic part start */
#watchpic{
    padding-bottom: 130px;
}
.watchpic_main{
    padding: 59px 0;
    background: linear-gradient(to right,rgba(22, 105, 146, 0.6),rgba(0, 0, 0, 0.5)),url(../images/watch.png) no-repeat ;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position: relative;
}
.watchpic_main .watchpic_items .wp_text{
    /* width: 459px; */
    margin: 0 0 24px 64px;
}
.watchpic_main .watchpic_items .wp_text h2{
    color: var(--white_color);
    font-size: 40px;
    font-weight: 700;
    font-family: var(--Work_sans_font);
    width: 459px;
}
.watchpic_main .watchpic_items .common_btn a{
    margin-left: 64px;
}
/* Watch pic part end */

/* Footer part start */
#footer{
    background: var(--all_heading_black_color);
}
.footer_items{
    display: flex;
    gap: 330px;
    justify-content: space-between;
    /* align-items: center; */
    /* gap: 330px; */
    padding: 130px 0;
}
.footer_items .future{
    width: 50%;
    /* width: 485px; */
}
.footer_items .future h2{
    color: var(--white_color);
    font-size: 45px;
    font-weight: 700;
    font-family: var(--Work_sans_font);
}
.footer_items .future p{
    color: var(--white_color);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: var(--Work_sans_font);
    padding: 16px 0 24px;
}
.footer_items .future ul{}
.footer_items .future ul li{
    display: block;
    color: var(--white_color);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: var(--Work_sans_font);
}
.footer_items .future ul li a{
    color: var(--white_color);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: var(--Work_sans_font);
}
.footer_items .future .social_links{
    margin-top: 22px;
}
.footer_items .future .social_links a{
    margin-right: 18px;
}
.footer_items .future .social_links a img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.footer_items .subscribe{
    width: 50%;
}
.footer_items .subscribe h2{
    color: var(--white_color);
    font-size: 25px;
    font-weight: 600;
    font-family: var(--Work_sans_font);
}
.footer_items .subscribe input{
    padding: 21px;
    margin: 30px 0 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.footer_items .subscribe .common_btn{}
.footer_items .subscribe .common_btn a{
    color: var(--white_color);
    background: var(--blue_color);
}
/* Footer part end */

/* Banner part start */
/* Banner part end */