/* CSS variables part start */
:root{
    --poppins_font: 'Poppins', sans-serif;
}
/* CSS variables part end */

/* Common CSS part start */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
.container{
    width: 940px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}

/* Common CSS part end */

/* Header part start */
#header{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    padding-bottom: 150px;
}

.header_items{
    display: flex;
    align-items: center;
    gap: 30px;
    /* gap: 30px; */
    /* justify-content: center; */
}
.header_items .text{
    width: 50%;
}
.header_items .text h1{
    color: black;
    font-size: 70px;
    font-weight: 800;
    font-family: var(--poppins_font);
}
.header_items .text h2{
    color: black;
    font-size: 40px;
    font-weight: 600;
    font-family: var(--poppins_font);
    padding: 80px 0 40px;
}
.header_items .text h2 span{
    color: orange;
}
.header_items .text h3{
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--poppins_font);
}
.header_items .text p{
    /* color: black; */
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    font-family: var(--poppins_font);
    padding: 15px 0 30px;
}
.header_items .text_btn a{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.header_items .pic{
    width: 50%;
    /* text-align: right; */
}
.header_items .pic img{
    width: 90%;
}
/* Header part end */

/* Main part start */
#main{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 150px;
}
.main_items{
    display: flex;
    align-items: center;
    gap: 30px;
}
.main_items .main_pic{
    width: 50%;
}
.main_items .main_pic img{
    width: 90%;
}
.main_items .main_text{
    width: 50%;
}
.main_items .main_text h2{
    color: black;
    font-size: 40px;
    font-weight: 600;
    font-family: var(--poppins_font);
}
.main_items .main_text h3{
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--poppins_font);
    padding: 40px 0 15px;
}
.main_items .main_text p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    font-family: var(--poppins_font);
    padding-bottom: 30px;
}
.main_items .main_text .main_btn a{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* Main part end */

/* Experience part start */
#experience{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 100px;
}
#experience h1{
    color: black;
    font-size: 70px;
    font-weight: 700;
    font-family: var(--poppins_font);
    margin: 80px 0;
}
.experience_items{
    display: flex;
    gap: 30px;
}
.experience_items .full_webd{
    width: 50%;
    padding: 20px 10px;
    border-left: 9px solid tomato;
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.experience_items .full_webd h2{
    color: black;
    font-size: 30px;
    font-weight: 500;
    font-family: var(--poppins_font);
}
.experience_items .full_webd h4{
    color: orange;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--poppins_font);
    padding: 40px 0 20px;
}
.experience_items .full_webd p{
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    font-family: var(--poppins_font);
}
.experience_items .baby_webd{
    width: 50%;
    padding: 20px 10px;
    border-left: 9px solid blue;
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.experience_items .baby_webd h2{
    color: black;
    font-size: 30px;
    font-weight: 500;
    font-family: var(--poppins_font);
}
.experience_items .baby_webd h4{
    color: orange;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--poppins_font);
    padding: 40px 0 20px;
}
.experience_items .baby_webd p{
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    font-family: var(--poppins_font);
}
/* Experience part end */

/* Footer part start */
#footer{
    padding: 20px 0;
    text-align: center;
}
#footer p{
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    font-family: var(--poppins_font);
}
/* Footer part end */

